.login {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
}

.login .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .logo > img {
  width: 10rem;
}

.login .form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  overflow: hidden;
}

.login .form > form {
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 2rem;
}

.login .form > form > h2 {
  color: #364a63;
  margin: 0 0 1rem 0;
  font-weight: 800;
}

.login .form > form > p {
  color: #526484;
  margin: 0;
  font-weight: 400;
  margin: 0 0 2rem 0;
  font-size: 0.9rem;
}

.red-asterisk {
  color: red;
}

label {
  color: #344357;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  overflow: hidden;
}

.form-input > input {
  width: 100%;
  display: block;
  outline: none;
  background-color: transparent;
  border: 1px solid #dbdfea;
  border-radius: 0.4rem;
  padding: 0.6em 1.2em;
  color: black;
}

.form-input > input:focus {
  border: 1px solid #037dff;
  box-shadow: 0 0 0 3px rgba(3,125,255,0.1);
}

.form-input {
  margin: 0 0 1.5rem 0;
}

.login-button {
  width: 100%;
  background-color: #0894ff;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 900;
}

.links {
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.links a,
a:visited {
  color: #0894ff;
  font-weight: 700;
}

.links a:hover {
  color: #0078d4;
  text-decoration: none;
}

.login-button:hover {
  outline: 0;
  background-color: #0078d4;
}

.login .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem 0 1rem 0;
  width: inherit;
  border-top: 1px solid #2a3a4e;
  display: flex;
  justify-content: space-around;
  background-color: #1f2b3a;
}

.login .footer .left {
  font-weight: 700;
  color: #8094ae !important;
}

.login .footer .right a {
  color: #0894ff !important;
}

.login .footer .right a:first-of-type {
  margin-right: 3rem;
}

.login .footer .right a:hover {
  color: #0078d4 !important;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
  border: 1px solid #dbdfea;
  border-radius: 0.4rem;
  color: black;
  padding: 0.6em 1.2em;
}

.input input {
  width: inherit;
  outline: none;
  background-color: transparent;
  border: none;
  color: black;
}

.input:focus-within {
  border: 1px solid #037dff;
  box-shadow: 0 0 0 3px rgba(3,125,255,0.1);
}

.input svg {
  color: #8094ae;
}

input::placeholder{
  color: #cfdaed;
  font-weight: 600;
}

@media (max-width: 900px) {
  .login {
    padding-top: 2rem;
  }

  .login .footer {
    flex-direction: column-reverse;
    text-align: center;
    position: static;
    margin-top: 2rem;
  }

  .footer .right {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .login .form > form {
    width: 90%;
  }
}
