.navbar {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 7rem;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  background-color: #101729;
  border-bottom: 1px solid #bbd8ff70;
}

.navbar button{
  margin-top:0 !important;
}

.nav-shadow {
  background: rgba(0, 0, 0, 0.7);
  transition: background 1s linear;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center !important;
}

.navbar-logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #5d38db;
}

.navbar-logo a img {
  width: 10rem;
}

.navbar-logo > button {
  display: none;
  box-sizing: border-box;
  /* border: 1px solid rgb(199, 198, 198); */
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  background-color: transparent;
  font-family: "Axiforma";
  font-size: 20px;
}

.navbar-logo > button:hover {
  border: none;
  outline: none;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-auth > a {
  font-family: "Axiforma";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #313233;
  padding: 15px 30px;
}

.navbar-auth > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.navbar-auth > div:first-of-type {
  margin-right: 1rem;
}

.navbar-auth > div > img {
  width: 40px;
  border-radius: 50%;
}

.balance p:first-of-type {
  font-family: "Axiforma Bold";
  font-size: 15px;
}

.balance p:nth-of-type(2) {
  font-family: "Axiforma Bold";
  font-size: 12px;
  color: #0bc2d2;
}

.balance p:nth-of-type(3) {
  font-family: "Axiforma Bold";
  font-size: 12px;
  color: #7cbbe3;
}

.profile p:first-of-type {
  font-family: "Axiforma Bold";
  font-size: 12px;
}

.profile p:nth-of-type(2) {
  font-family: "Axiforma Bold";
  font-size: 12px;
}

.verified {
  color: lightgreen;
}

.unverified {
  color: ligredhtgreen;
}

.login-link {
  text-decoration: none;
  color: #fff !important;
  font-family: "Axiforma Bold" !important;
}

.trade {
  border: 1px solid lightgreen;
  color: lightgreen;
  background-color: transparent;
  display: none;
}

.unverified {
  color: red;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 1.5vh 6rem;
  }

  .navbar-logo > a > img {
    width: 8rem;
  }

  .navbar-auth > div > img {
    width: 35px;
    border-radius: 50%;
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding: 1.5vh 5rem;
  }

  .navbar-logo {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }

  .trade {
    display: block;
  }
  .navbar-auth button{
    padding: 2px 2px;
  }

  .navbar-auth > div:first-of-type > img,
  .navbar-auth > div:first-of-type > div {
    display: none;
  }

  .navbar-auth > div:nth-of-type(2) > div {
    display: none;
  }

  .navbar-logo > a > img {
    display: none;
  }

  .navbar-logo > button {
    display: inline-block;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 1.5vh 4rem;
  }

  /* .navbar-logo {
    display: flex;
    flex-direction: column;
  } */

  .navbar-logo > a > img {
    width: 7rem;
  }

  .trade {
    font-size: 12px;
  }

  .navbar-logo > button {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 1.5vh 3rem;
  }

  .navbar-logo > a > img {
    display: none;
  }

  .navbar-logo > button {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 1.5vh 1.5rem;
  }

  .navbar-logo > a > img {
    width: 4rem;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 1.5vh 2rem;
  }
}
